<%- include('header'); -%>
    <div class="box" id="heading">
    <h1 style="color: rgb(199, 66, 199)"><%= kindDay %></h1>
  </div>
 
  <div class="box">
    <% for(var i=0 ;i<itemData.length ;i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%= itemData[i] %></p>
      </div>
    <% } %>

    <form class="item" action="/to-do" method="post">
      <input class="ml-5" type="text" name="item" placeholder="New Item" required autocomplete="off" />
      <button type="submit" name="list" value="<%= kindDay %>" >+</button>
    </form>
  </div>
 <% if(kindOfday) { %>
  <% if(kindOfday==='Sunday' || kindOfday==='Saturday' ) { %>
    <h1 style="color: purple">It's a <%= kindOfday %></h1>
    <% } else { %>
    <h1 style="color: blue">It's a <%= kindOfday %></h1>
    <% } %>
    <% }else { %>
    <p> Date Not found</p>
    <% } %>
    <a href="/"><button class="btn btn-lg btn-warning">Go Home</button></a>
  <%- include('footer'); -%>
